/*
Algumas informações úteis e dicas:
- Fontes disponíveis:
  font-family: 'Roboto', sans-serif;
  font-family: 'Permanent Marker', cursive;
- Cores:
  Tons de amarelo:
    #e4fc2b
    #e0d426
    #f7d736
    #e0af26
    #fcb02b
  Tons de cinza:
    #2c2c2c
    #4c4c4c
  Cores dos cards:
    #ead3a7
    #9de0f5
    #ef89ba
    #fae890
    #abe9c1
- Sombra: https://codepen.io/sdthornton/pen/wBZdXq
*/

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Nunito:wght@300;1000&family=Open+Sans&family=Roboto&family=Roboto+Slab:wght@300&display=swap');

html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.appbar{
  display: flex;
  box-shadow: 0 6px 6px #a4a4a4;
  background-color: #f7d736;
  height: 3rem;
}

.logo{
  width: 3.5rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-left: 4px;
}

.subtitle{
  display: flex;
  align-items: center;
  margin-left: 13px;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1.6rem 1rem 1rem 1rem;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 3px 5px #575757;
  padding: 10px;
  width: 30rem;
  border-radius: 5px;
}

.icones{
  display: flex;
  position: absolute;
  align-self: flex-end;
  margin-top: 4px;
  justify-content: space-around;
}

.icone{
  display: flex;
  width: 1rem;
}

.form-card-title{
  font-size: 1.4rem;
  border-color: transparent;
  margin-bottom: 10px;
}

.autoresize{
  font-size: medium;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  resize: none;
}

.form-tag{
  font-size: medium;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  padding-left: 0.3rem;
  resize: none;
  color: #676767;
  margin-bottom: 15px;
  margin-top: -5px;
}

.tag-page{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  width: 15rem;
  background-color: #eea9ff;
  font-size: 1rem;
  margin-bottom: 10px;
}

.card-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 40px 0 40px;
}

.deledit-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  align-self: flex-end;
  margin-right: 0.5rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 0.2rem 0.1rem 0.2rem;
  width: 15rem;
  height: 8rem;
  border-radius: 0.3rem;
  margin: 8px;
  box-shadow: 0 5px 7px #9c9c9c;
}

.card-color-1{
  background-color: #ead3a7;
}

.card-color-2{
  background-color: #9de0f5;
}

.card-color-3{
  background-color: #ef89ba;
}

.card-color-4{
  background-color: #fae890;
}

.card-color-5{
  background-color: #abe9c1;
}

.card-rotation-1{
  transform: rotate(-3.5deg);
}

.card-rotation-2{
  transform: rotate(-2.5deg);
}

.card-rotation-3{
  transform: rotate(-1.5deg);
}

.card-rotation-4{
  transform: rotate(3.5deg);
}

.card-rotation-5{
  transform: rotate(4deg);
}

.card-rotation-6{
  transform: rotate(-4deg);
}

.card-rotation-7{
  transform: rotate(2.5deg);
}

.card-rotation-8{
  transform: rotate(-2deg);
}

.card-rotation-9{
  transform: rotate(3deg);
}

.card-rotation-10{
  transform: rotate(-3deg);
}

.card-rotation-11{
  transform: rotate(2deg);
}

.t-c-t{
  display: flex;
  height: 8rem;
  flex-direction: column;
  justify-content: space-between;
}

.card-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  padding-left: 0.3rem;
  flex-wrap: wrap;
  margin-right: 3rem;
}

.card-content{
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 0.9rem;
  color: #4c4c4c;
  flex-wrap: wrap;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
  padding-right: 0.3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-tag{
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
  color: #3b3b3b;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 0rem 0.5rem 0.4rem 0rem;
}

.card-tags{
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
  color: #3b3b3b;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

.back-btn{
  display: flex;
  justify-content: center;
  color: black;
  background-color: lightcoral;
  width: 10rem;
  text-decoration: none;
  font-size: 1rem;
}

.done-btn{
  display: flex;
  justify-content: center;
  color: black;
  width: 12rem;
  text-decoration: none;
  font-size: 1rem;
}

.back{
  background-color: #fae890;
}

.pag404{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.erro{
  font-size: 6rem;
  font-family: "ADLaM Display";
  margin-bottom: 1rem;
}

.logo-grande{
  width: 14rem;
  height: 8rem;
  margin-bottom: 2rem;
}

.ops{
  font-family: 'Roboto Slab', swap;
  font-size: 2rem;
}

.tags{
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
  color: black;
  flex-wrap: wrap; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: 0.3rem;
  height: 2rem;
}

.cabecalho{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.voltar-tag{
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 1rem;
  margin-top: 10px;
  margin-right: 300px;
}

.a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.b{
 position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.exp-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 1rem;
  color: #3f3f3f;
  margin-bottom: 10px;
}

.nome-tag{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.pag-tags{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voltar-tags{
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 1rem;
}